<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fatal Error!</title>
</head>
<body>
    <h1>Fatal Error!</h1>
    <p><%= err %> </p>
</body>
</html>