<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Pokemon</title>
</head>
<body>
    <h1>Edit Pokemon</h1>
    <% if (error) { %>
        <p>Error!: <%= error %> </p>
    <% } %> 
    <a href="/">Back to List Pokemon</a>
    <form action="/pokemons/edit/<%= data.id %> " method="post">
        <label for="">Name:</label>
        <br>
        <input type="text" name="name" value="<%= data.name %>">
        <br>
        <label for="">HP</label>
        <br>
        <input type="number" name="HP" value="<%= data.HP %>">
        <br>
        <label for="">Is Fat?</label>
        <br>
        <% if (data.isFat === true) { %>
            <select name="isFat">
                <option value="">-- Please Select --</option>
                <option value="true" selected>True</option>
                <option value="false">False</option>
            </select>
        <% } else { %>
            <select name="isFat">
                <option value="">-- Please Select --</option>
                <option value="true">True</option>
                <option value="false" selected>False</option>
            </select>
        <% } %> 
        <br>
        <button type="submit">Create Pokemon</button>
    </form>
</body>
</html>